[user]
    name = s4hlo 
    email = rafael.nunes@tarken.ag
    signingkey = "add your key"

[core]
    ; @target
    editor = nvim 
    autocrlf = input
    pager = delta

[credential]
	helper = store

[alias]
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset %C(cyan)[%G?]%Creset %C(bold blue)<%an>%Creset %C(green)(%cr)%Creset%C(magenta)%d%Creset%n    %s'
    co = checkout
    ci = commit
    st = status
    br = branch

[color]
    ui = auto
[push]
	autoSetupRemote = true
[pull]
  rebase = false

[interactive]
    diffFilter = delta --color-only

; [include]
;    path = ~/dotfiles/catppuccin.gitconfig
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  line-numbers = true
  side-by-side = true
  features = catppuccin-mocha
  ; hunk-header-style = file
[merge]
    conflictstyle = zdiff3

[commit]
    gpgsign = true
