[user]
    name = S4hlo 
    email = rfl.magno02@gmail.com

[core]
    ; @target
    editor = ~/dotfiles/nvim-linux64/bin/nvim 
    autocrlf = input

[credential]
	helper = store

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
    ui = auto
[push]
	autoSetupRemote = true
[pull]
	rebase = false
