[user]
    name = S4hlo 
    email = rfl.magno02@gmail.com

[core]
    ; @target
    editor = nvim 
    autocrlf = input
    pager = delta

[credential]
	helper = store

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
    ui = auto
[push]
	autoSetupRemote = true
[pull]
  rebase = false

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/dotfiles/catppuccin.gitconfig
[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
  line-numbers = true
  side-by-side = true
  features = catppuccin-mocha
  ; hunk-header-style = file
[merge]
    conflictstyle = zdiff3
