* {
    border: none;
    border-radius: 10px; /* Adicione 'px' para evitar erros */
    font-family: "JetbrainsMono Nerd Font";
    font-size: 15px;
    min-height: 10px;
}

label.module, 
#workspaces, 
#tray {
    margin: 10px 8px 0;
    padding: 2px 10px;
    transition: none;
    color: #C0CAF5;
    background: rgba(26, 27, 38, 0.8);
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    color: #C0CAF5;
}

#clock {
    margin-left: 10px;
    color: #161320;
    background: #7AA2F7;
}

#battery {
	margin-right: 10px;
	color: #161320;
	background: #73DACA;
}


#battery.charging, #battery.plugged {
	background-color: #73DACA;
}

#battery.critical:not(.charging) {
  background-color: #73DACA;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}

