window {
margin: 0px;
border: 2px solid #7aa2f7;
background-color: #1a1b26;
border-radius: 10px;
}

#input {
margin: 5px;
border: 2px;
border-radius: 20px;
color: #d8dee9;
background-color: #24283b;
}

#inner-box {
margin: 5px;
border: none;
background-color: #1a1b26;
}

#outer-box {
margin: 5px;
border: none;
background-color: #1a1b26;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d8dee9;
}

#entry:selected {
background-color: #1a1b26;
}
